.Error{
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .FloatingError {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    animation: slideInFromRight 0.5s ease;
  }