.featuredProduct{
    width: 350px;
    height: 430px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin: auto;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.206);
    transition: transform 0.3s, box-shadow 0.5s;
}
.featuredProduct:hover {
    transform:scale(1.05); 
    border-radius: 0px;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
.productImg{
    height: 240px;
    overflow: hidden;
}
.productImg img{
    width: 100%;
}
.productTitle{
    height: 70px;
    overflow: hidden;
}
.productSeller{
    height: 50px;
    display: flex;
    align-items: center;
}
.productSeller > * {
    margin-right: 10px;
}
.sellerLogo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #37A8EA;
    text-align: center;
    color: white;
    font-size: 19px;
}

.productPrice{
    margin: 5px;
    padding: 8px;
    background: #F4F1FE;
    display: inline-block;
}

.star {
    width: 20px;
    height: 20px;
}