.ResetPasswordFormSection{
    min-height: 450px;
    padding-bottom: 150px;
    background: #F1F2F7;
}

.ResetPasswordFormArea{
    max-width: 540px;
    height: 400px;
    width: 95%;
    background: white;
    position: relative;
    top: 50px;
    border-radius: 5px;
    margin: auto;
}
.ResetPasswordConfrimArea{
    max-width: 540px;
    height: 500px;
    width: 95%;
    background: white;
    position: relative;
    top: 50px;
    border-radius: 5px;
    margin: auto;
}