.featuredProduct{
    width: 350px;
    height: 440px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin: auto;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.206);
    transition: transform 0.3s, box-shadow 0.5s;
    position: relative;
    overflow: hidden;
}
.featuredProduct:hover {
    transform:scale(1.05); 
    border-radius: 0px;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}

.Product{
    width: 350px;
    height: 460px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin: auto;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.206);
    transition: transform 0.3s, box-shadow 0.5s;
}
.Product:hover {
    transform:scale(1.05); 
    border-radius: 0px;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}


.productImg{
    height: 250px;
    overflow: hidden;
}
.productImg img{
    width: 100%;
    height: 100%; 
    object-fit:cover; 
}
.productTitle{
    height: 70px;
    overflow: hidden;
}

.productPrice{
    padding: 8px;
    border-radius: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.136);
    border-bottom: 1px solid rgba(0, 0, 0, 0.136);

    width: 330px;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

/* Modal */

.blurryBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 255, 0.048);
    backdrop-filter: blur(1px); /* Adjust the blur intensity as needed */
    z-index: 9999999999999;
}
.blurryBackgroundSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999999999;
}

.ModalArea{
    max-width: 460px;
    width: 90%;
    max-height: 380px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    margin: auto;
    padding-bottom: 40px;
}
.ReviewModalArea{
    max-width: 460px;
    width: 90%;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    margin: auto;
}

.closeModal{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: right;
    padding: 5px;
    overflow: hidden;
}
.closeModal img{
    width: 40px;
}
