.AllProductsSection{
    min-height: 550px;
    padding-bottom: 50px;
}

.AllProductsArea{
    max-width: 1140px;
    min-height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.146);
}

.SearchProductsSection{
    border: 1px solid rgba(0, 0, 0, 0.146);
    max-width: 1140px;
    margin: auto;
    position: relative;
    top: 10px;
}
.searchArea{
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    opacity: 1;
    flex-wrap: wrap;
}
.searchArea > *{
    flex-grow: 1;
    min-width: 300px;
}

.FilterArea {
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    opacity: 1;
    flex-wrap: wrap;
    border-radius: 2px;
}
.FilterArea > *{
    flex-grow: 1;
    min-width: 300px;
}

@media screen and (max-width:1090px) {
    .SearchProductsSection{
        max-width: 98%;
        position: relative;
        top:10px;
     }
}
