.DashboardOptionSection{
    min-height: 1050px;
    background: #F1F2F7;
    padding-bottom: 10px;
}

.BalanceDetailsArea{
    max-width: 1140px;
    min-height: 200px;
    margin: auto;
    position: relative;
    top: 10px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.BalanceDetailsArea > * {
    min-width: 200px;
    min-height: 150px;
    max-height: 350px;
    flex-grow: 1;
    margin: 10px;
    background: white;
}
/* Recent Items Sales */

.RecentSoldItemsArea{
    max-width: 1120px;
    width: 93.5%;
    min-height: 200px;
    padding-bottom: 50px;
    background: white;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.recentSoldItemsWrapper , .PopularProductWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.SoldItemsArea , .PopularProductArea{
    max-width: 300px;
    max-height:300px;
    background: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.imageArea{
    min-width: 300px;
    max-width: 300px;
    overflow: hidden;
}
.SoldItemsArea img{
    width: 100%;
    object-fit: fill;
}

/* Responsive */
@media screen and (max-width: 950px){
    .BalanceDetailsArea > * {
        min-width: 350px;
        flex-grow: 1;
        margin: 10px;
    }
}

