.ManageItemsSection{
    background: #F1F2F7;
    padding-bottom: 50px;
}

.MyProductsArea{
    max-width: 1140px;
    width: 95%;
    background: white;
    min-height: 600px;
    margin: auto;
    position: relative;
    top: 20px;
    padding-bottom: 50px;
}

.searchArea{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchArea > *{
    flex-grow: 1;
}

.MyProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

/* Product Edit */

.EditItemsSection{
    min-height: 1400px;
    background: #F1F2F7;
}
.formArea{
    max-width: 1140px;
    width: 95%;
    background: white;
    min-height: 650px;
    margin: auto;
    position: relative;
    top: 40px;
}


.TitleCategory , .InventoryCondition{
    display: flex;
    flex-wrap: wrap;
}
.TitleCategory > * , .InventoryCondition > *{
    flex-grow: 1;
    margin: 5px;
    min-width: 300px;
}

.EditProductsImageArea{
    max-width: 1140px;
    width: 95%;
    background: white;
    min-height: 600px;
    margin: auto;
    position: relative;
    top: 50px;
}
.EditProductImage{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}
.ImgWrapper {
    width: 344px;
    height: 262.5px;
    overflow: hidden; /* Ensure the image doesn't overflow the circle */
}

.ImgWrapper img {
    width: 100%;
    height: 100%; 
    object-fit:cover; 
}

/* Modal */

.blurryBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 255, 0.129);
    backdrop-filter: blur(3px); /* Adjust the blur intensity as needed */
    z-index: 9999999999999;
}
.blurryBackgroundSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999999999;
}

.ModalArea{
    max-width: 460px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    margin: auto;
}