*{
    font-family:'roboto';
}

.PurchaseHistorySection{
    min-height: 450px;
    min-height: 500px;
    background: #F1F2F7;
    padding-bottom: 20px;
}

.PurchaseHistoryArea{
    max-width: 1140px;
    min-height: 450px;
    margin: auto;
    width: 95%;
    background: white;
    position: relative;
    top: 10px;
}


.PurchaseHistory{
    max-width: 1140px;
    min-height: 400px;
    margin: auto;
    background: white;
    overflow: hidden;
}

.PurchaseList{
    overflow-x: auto;
    min-height: 400px;
}
.Purchase{
    display: flex;
    min-width: 1100px;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    align-items: center;
}
.Purchase div{
    margin: 5px;
    flex-grow: 1;
}


.PurchaseDetailsArea{
    max-width: 1160px;
    min-height: 200px;
    margin: auto;
    position: relative;
    top: 10px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PurchaseDetailsArea > * {
    min-width: 200px;
    min-height: 150px;
    flex-grow: 1;
    margin: 10px;
    background: white;
}

/* Balance */
.SalesBalanceHistory{
    max-width: 1140px;
    min-height: 200px;
    padding-bottom: 20px;
    margin: auto;
    width: 95%;
    position: relative;
    background: white;
    top: 20px;
}
.BalanceHistoryArea{
    max-width: 1140px;
    min-height: 200px;
    margin: auto;
    width: 95%;
    background: white;
    position: relative;
    top: 10px;
}


.BalanceHistory{
    max-width: 1140px;
    min-height: 400px;
    margin: auto;
    background: white;
    overflow: hidden;
}
.BalanceList{
    overflow-x: auto;
    min-height: 350px;
}
.Balance{
    display: flex;
    min-width:600px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    align-items: center;
}
.Balance div{
    margin: 5px;
    flex-grow: 1;
}

.BalanceDetailsArea{
    max-width: 1160px;
    min-height: 200px;
    margin: auto;
    position: relative;
    top: 10px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.BalanceDetailsArea > * {
    min-width: 200px;
    min-height: 150px;
    max-height: 350px;
    flex-grow: 1;
    margin: 10px;
    background: white;
}


@media screen and (max-width: 1020px){
    .PurchaseDetailsArea > * {
        min-width: 320px;
    }
}


/* Modal */

.blurryBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 255, 0.048);
    backdrop-filter: blur(1px); /* Adjust the blur intensity as needed */
    z-index: 9999999999999;
}
.blurryBackgroundSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999999999;
}

.ModalArea{
    max-width: 460px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    margin: auto;
}
.ReviewModalArea{
    max-width: 460px;
    width: 90%;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    margin: auto;
}

.closeModal{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: right;
    padding: 5px;
    overflow: hidden;
}
.closeModal img{
    width: 40px;
}

/* Responsive */
/* @media screen and (max-width: 450px){
    .PurchaseArea{
        display: flex;
        flex-direction: column;
    }
} */
/* .PurchaseHistory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 1000px;
}
.orderCard{
    width: 300px;
    height: 530px;
    flex-grow: 1;
    background: #F1F2F7;
    border-radius: 5px;
    max-width: 400px;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.5s;
    overflow: hidden;
}
.complete{
    background: rgba(0, 128, 28, 0.339);
}
.failed{
    background: rgba(128, 0, 13, 0.339);
}
.orderCard:hover {
    transform:scale(1.05); 
    border-radius: 0px;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}


.activeBtn{
    color: black;
} */