*{
    font-family:'roboto';
}

.SettingsSection{
    min-height: 1600px;
    background: #F1F2F7;
    padding-bottom: 10px;
}

.SettingsArea{
    max-width: 1140px;
    margin: auto;
    width: 95%;
}

.profileImageArea{
    min-height: 250px;
    background: white;
    position: relative;
    top: 10px;
}
.profileWrapper{
    width: 90%;
    margin: auto;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; /* Ensure the image doesn't overflow the circle */
    position: relative;
}

.profileImage img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

/* Form */
.ProfileInformationArea{
    max-width: 1140px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    min-height: 450px;
    background: white;
}

.FormArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.FormArea div{
    min-width:350px;
    flex-grow: 1;
}
/* Shipping */
.ShippingDetailsArea{
    max-width: 1140px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    min-height: 370px;
    background: white;
}
.ShippingDetails{
    margin: auto;
    width: 98%;
}


/* Social Details */
.SocialDetailsArea{
    max-width: 1140px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    min-height: 370px;
    background: white;
}
.SocialDetails{
    margin: auto;
    width: 98%;
}

.SocialDetails input{
    border: 1px solid rgba(0, 0, 0, 0.208);
    max-width: 1140px;
    width: 100%;
}
/* Change Password */
.ChangePassoword{
    max-width: 1140px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    min-height: 450px;
    background: white;
}
.PasswordForm {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PasswordForm input {
    min-width: 540px; /* Set the minimum width */
}

@media screen and (max-width: 922px){
    .FormArea div{
        min-width: 550px
    }
}

@media screen and (max-width: 570px){
    .profileWrapper{
        flex-direction: column;
        padding: 10px;
    }

    .FormArea div{
        min-width: 450px
    }
    .PasswordForm input {
        min-width: 450px; 
    }
}

@media screen and (max-width: 450px){
    .FormArea div{
        min-width: 350px
    }
    .PasswordForm input {
        min-width: 330px; /* Set the minimum width */
    }
}
